<% @entries.each do |entry| %>
  <h2><%= entry.title %></h2>
  <p><%= entry.body %></p>

  <p>
    <% entry.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>
  </p>

  <form action="/entries/<%= entry.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
<% end %>