<%= erb :'entries/_errors', locals: { model: @entry } %>

<form action="/entries" method="post">

  <label for="">Title</label>
  <input type="text" name="entry[title]" value="<%= @entry.title %>">

  <label for="">Body</label>
  <input type="text" name="entry[body]" value="<%= @entry.body %>">

  <label for="">Tags</label>
  <input type="text" name="tags">

  <input type="submit" value="Create Entry">
</form>